<h1>Home page</h1>
<div data-controller="home">
    <%= form_tag countries_path, method: :get do %>
<%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Type a country"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <% @countries.each do |country| %>
    <%=link_to country.name, country_path(country) %><br>
  <% end %>

</div>
