.main-container{
  padding: 35vh 100px 65vh;
  text-align: center;
}

.div-container{

  display: flex;
  text-align: center;
  align-items: center;
}

body {
  background-color: #F5F5F5;
}

* {
  font-family: 'Assistant', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.text-link{
  text-decoration: underline;
  color: #6c757d;
}
