.area-main-div{
  display: flex;
  flex-wrap: wrap;
}

.area-card{
  background-color: white;
  display: grid;
  margin: 20px 20px;
  padding: 10px 10px;
  height: 350px;
}


.area-image{
  width: 220px;
  height: 300px;
  object-fit: cover;
}

.area-title{
  text-align: center;
}
